        /* product */
        main     { display: flex; flex-flow: row wrap; flex: 7; }
        section { width: 310px; height: 450px; padding: .5em; 
                border: 3px solid rgb(135, 167, 235);
                background-color:black; position: relative;
                flex-flow: column; flex-wrap: nowrap;}
        section h2 { z-index: 100; color: white; }
        section img  { z-index: 0 ; width: 310px; display: block;  }
        section p     {color: white; z-index: 200; font-size: 30px; width: 300px; margin: 0px;
                        position: absolute;  text-align: center; }